body {
	background-color: #edd2a8;
}

.navbar {
	background-color: #7a5c2d;
	width: 100%;
}

h1 {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 8vw;
	margin: 0vw;
}
h2 {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 3vw;
	margin: 0vw;
}


.navbar-elem {
	display: inline-block;
	list-style-type: none;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 1.5vw;
	padding: 1vw 1.4vw;
	cursor: pointer;
}
.right-elem {
	float: right;
	padding-right: 5vw;
}

.navbar-elem a:link {
	color: white;
	text-decoration: none;
}

.navbar-elem a:visited {
	color: white;
	text-decoration: none;
}

.navbar-elem a:hover {
	color: #cfa25b;
	text-decoration: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #ebcfab;
	min-width: 10%;
	box-shadow: 0vw 0.5vw 1vw 0vw rgba(0,0,0,0.2);
	padding: 1vw 1.4vw;
	font-size: 1.5vw;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content a {
	color: white;
	padding: 1.5vw 1vw;
	text-decoration: none;
	display: block;
	font-size: 1.5vw;
}

.dropdown-content a:hover {
	background-color: #f7e7d2}


.dropbtn {
	background-color: #7a5c2d;
	border: none;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 1.5vw;
}


@media screen and (max-width: 600px) {
	.navbar-elem {
	float: none;
    width: 100%;
	}
}

@media screen and (max-width: 400px) {
	 .dropbtn{
		 font-size: 3vw;
		 padding-left: 0;
	 } 
	 .navbar-elem{
		 font-size: 3vw;
	 }
}